:root {
  --back-grey: #eeeeee;
  --back-grey-hover: #dfdfdf;
  --back-grey-active: #d5d5d5;
  --black: #000000;
  --white: #ffffff;
  --black-grey: #283136;
  --text-grey: #666666;
  --text-grey-two: #444444;

  --coral-red: #fb565a;
  --coral-red-hover: #e74246;
  --coral-red-active: #d7373b;

  --green: #00ca74;
  --green-hover: #00bc6c;
  --green-active: #00aa62;

  --yellow: #efc84a;
  --yellow-hover: #eab534;
  --yellow-active: #e5a722;

  --wrapper-padding: 20px;
  --desktop-width: 1200px;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

.wrapper {
  width: var(--desktop-width);
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--wrapper-padding);
  padding-left: var(--wrapper-padding);
  box-sizing: border-box;

  outline: 1px dashed black;
}

/* =============== Шапка =============== */

.header {
  background-color: var(--back-grey);
  outline: 2px solid red;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 160px 4fr 1fr; /* Пропорции примерные*/
  align-items: center;
  column-gap: 50px;
  padding-top: 50px;
}

.header__link-logo {
  outline: 2px solid green;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-self: center;

  list-style: none;
  outline: 2px solid green;
}

.header__link-to-basket {
  outline: 2px solid green;
}

.site-list a {
  outline: 2px solid blue;
  margin-right: 45px;
}

.site-list a,
.header__link-to-basket {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500; /* medium не работает*/
  color: var(--black);
  text-decoration: none;
}

.site-list a:hover,
.site-list a:focus,
.header__link-to-basket:hover,
.header__link-to-basket:focus {
  color: var(--coral-red);
}

.site-list a:active {
  color: inherit;
  opacity: 0.3;
}

.header__title {
  grid-column-start: 1;
  grid-column-end: 4;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

/* =============== Index.html =============== */

/* Slider */

.promo-slider {
  background-color: var(--back-grey);
  outline: 2px solid red;
  outline-offset: -2px;
}

.slide__title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slide__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.slide__link-to-more {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--coral-red);
  text-decoration: none;
}

.slide__link-to-more:hover,
.slide__link-to-more:focus {
  background-color: var(--coral-red-hover);
}

.slide__link-to-more:active {
  color: rgba(255, 255, 255, 0.3); /* Так не хватает функции rgba() из scss*/
  background-color: var(--coral-red-active);
}

/* Services */

.services {
  outline: 2px solid red;
  outline-offset: -2px;
}

.services__list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 100px;
  margin: 0;
  padding: 0;

  list-style: none;
  outline: 2px solid blue;
}

.service {
  outline: 2px solid orange;
}

.service__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.service__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.service__link-order {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--coral-red);
  text-decoration: none;
}

.service__link-order:hover,
.service__link-order:focus {
  background-color: var(--coral-red-hover);
}

.service__link-order:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--coral-red-active);
}

.service__link-order--green {
  background-color: var(--green);
}

.service__link-order--green:hover,
.service__link-order--green:focus {
  background-color: var(--green-hover);
}

.service__link-order--green:active {
  background-color: var(--green-active);
}

.service__link-order--yellow {
  background-color: var(--yellow);
}

.service__link-order--yellow:hover,
.service__link-order--yellow:focus {
  background-color: var(--yellow-hover);
}

.service__link-order--yellow:active {
  background-color: var(--yellow-active);
}

/* Description Nerds */

.description-nerds__text-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.description-nerds__text-pinciples {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.description-nerds__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black-grey);
}

.description-nerds__list-services-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black-grey);
}

.description-nerds__table-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.description-nerds__static-table-field {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.description-nerds__static-table-value {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.description-nerds__static-table-value-procent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

/* Map */

.map {
  outline: 2px solid orange;
  outline-offset: -2px;
}

.map__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.map__address,
.map__phone {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: var(--text-grey);
}

.map__btn-open-modal {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);

  background-color: var(--coral-red);
  text-decoration: none;
}

.map__btn-open-modal:hover,
.map__btn-open-modal:focus {
  background-color: var(--coral-red-hover);
}

.map__btn-open-modal:active {
  background-color: var(--coral-red-active);
}

/* Footer */

.footer {
  outline: 2px solid red;
}

.footer__wrapper {
  display: flex;
  padding-top: 68px;
  padding-bottom: 68px;
}

.footer__social {
  outline: 2px solid green;
  margin-right: 140px;
}

.footer__slogan {
  outline: 2px solid green;
}

.footer__text-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.footer__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--text-grey);
}

/* =============== Catalog.html =============== */

/* Main--catalog */

.main__wrapper--catalog {
  display: grid;
  grid-template-columns: 260px 760px;
  column-gap: 140px;
  grid-template-rows: min-content min-content min-content;
}

/* Main-Filter */

.main-filter {
  outline: 2px solid orangered;
  outline-offset: -2px;
  grid-row-start: 1;
  grid-row-end: -1;
}

.main-filter__fieldset {
  display: flex;
  flex-direction: column;
}

.main-filter__fieldset-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-filter__label-number {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-transform: uppercase;
}

.main-filter__number {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: var(--black-grey);

  background-color: var(--back-grey);
}

.main-filter__label {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: var(--black-grey);
}

.main-filter__btn-submit {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--back-grey);
}

/* Sort Filter */

.sort-filter {
  outline: 2px solid orangered;
  outline-offset: -2px;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sort-filter__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.sort-filter__list-of-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-filter__link a{
  margin-right: 25px;

  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--black);
  text-decoration: none;
}

.sort-filter__link--active a{
  opacity: 1;
}

.sort-filter__link:not(.sort-filter__link--active) a:hover,
.sort-filter__link:not(.sort-filter__link--active) a:focus {
  opacity: 0.6;
}

.sort-filter__link:active a:active { /* Странный селектор? */
  opacity: 1;
}

/* Pattern */

.patterns {
  outline: 2px solid orangered;
  outline-offset: -2px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.patterns__list {
  display: grid;
  outline: 3px solid green;
  outline-offset: -3px;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pattern {
  outline: 1px solid red;
}

.pattern__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.pattern__title a {
  text-decoration: none;
  color: var(--black);
}

.pattern__description {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  color: var(--text-grey);
}

.pattern__btn-price {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--coral-red);
}

.pattern__btn-price:hover,
.pattern__btn-price:focus {
  background-color: var(--coral-red-hover);
}

.pattern__btn-price:active {
  background-color: var(--coral-red-active);
}

.patterns__pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.patterns__pagination-item a{
  margin-right: 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  text-decoration: none;

  background-color: var(--back-grey);
}

.patterns__pagination-item--active a {
  background-color: var(--white);
}

.patterns__pagination-item a:hover,
.patterns__pagination-item a:focus {
  background-color: var(--back-grey-hover);
}

.patterns__pagination-item a:active {
  background-color: var(--back-grey-active);
}

/* Modal Callback */

.modal-callback {
  display: none;
}

.modal-callback__title {
  font-size: 45px;
  line-height: 53px;
  font-weight: bold;
}

.modal-callback__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal-callback__label input {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: inherit;
  color: var(--text-grey-two);
}

.modal-callback__btn-submit {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--coral-red);
}

.modal-callback__btn-submit:hover,
.modal-callback__btn-submit:focus {
  background-color: var(--coral-red-hover);
}

.modal-callback__btn-submit:active {
  background-color: var(--coral-red-active);
}

.modal-callback__btn-close {
  opacity: 0.3;
}

.modal-callback__btn-close:hover,
.modal-callback__btn-close:focus {
  opacity: 1;
}

.modal-callback__btn-close:active {
  opacity: 0.1;
}
